body, html{
	padding: 0;
	margin: 0;
	background-color: #018281;
	overflow-x: hidden;
}

.button{
	background-color: #c0c0c0;
	border-color: #e8e8e8 black black #e8e8e8;
	margin-left: 3px;
}

.button_used{
	background-color: #c0c0c0;
	border-color: #e8e8e8 black black #e8e8e8;
	margin-left: 3px;
	color: #7f7f7f;
	-webkit-text-stroke-width: .1px;
	-webkit-text-stroke-color: #9f9f9f;
}

.upbar{
	background-color: #c6c6c6;
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	padding-left: 3px;
}

.popup{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.ok{
	width: 55px;
	height: 25px;
	left: 47.5%;
	top: 55.3%;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

#att{
	position: absolute;
	bottom: 0px;
	color: white;
	left: 50%;
	transform: translate(-50%)
}
