@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, html{
	background-image: url(bg.jpg);
	background-size: cover;
}

*{
	color: darkgreen;
	font-family: 'arial';
}

button{
	background: orange;
	border-radius: 5px;
	border: 2px solid gold;
	width: 50px;
	height: 50px;
	box-shadow: inset 0px 0px 15px green;
	transition: .2s;
}

button:active{
	background: linear-gradient(180deg,yellow,pink);
	border: 2px solid gold;
	box-shadow: inset 0px 0px 15px gold;
}

#buttons{
	display: grid;
	grid-template-columns: repeat(5, 50px);
	position: absolute;
	left: 50%;
	top: 90px;
	transform: translate(-50%);
}

#display{
	width: calc(50px*5);
	height: 80px;
	background-color: white;
	border-radius: 5px;
	border: 2px solid green;

	position: absolute;
	left: 50%;
	transform: translate(-50%);
	font-size: 15px;
	box-shadow: inset 0px 0px 5px green;
}

#display *{
	font-family: 'Press Start 2P', cursive;
}
